section.home
    .wrap
        .home__pre Плануєте покрівельні роботи на даху?
        .main-title Дізнайтеся вартість покрівельного матеріалу за 1 хвилину
        .home__body
            .home__subtitle Відповідайте на 7 питань та отримайте:
            .home__items
                .home__item
                    .home__title Точну вартість
                    .hone_descr Кошториси на матеріали <span class="desctop-br"><br></span>і вартість монтажу покрівлі
                .home__item
                    .home__title Безкоштовну консультацію
                    .hone_descr Спеціаліст допоможе підібрати <span class="desctop-br"><br></span>оптимальний варіант
                .home__item
                    .home__title 1 з 3 подарунків
                    .hone_descr На вибір за <span class="desctop-br"><br></span>проходження тесту
            .home__btn
                .btn-wrap
                    a(href="#kviz").btn.scroll-to Дізнатися вартість
                .plus +
                .home__btn-text 
                    | Отримати 
                    span гарантований подарунок 
                    | за проходження тесту
            //- .home__roof

            