header.header
	.wrap
		.logo
			img(src="img/logo.jpg", alt="logo Стиль Дах")
		.header__info
			.header__title Покрівельна компанія №1 в Україні
			.header__subtitle за думкою >11000 клієнтів за 10 років
		.header__social
			//- a(href="mailto:manager@solarled.com.ua" class="mail").header__mail manager@solarled.com.ua
			a(href="tel:+380974626318" class="phone") +380 97 462 63 18
	include ../common/1home